@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center mt-5 mb-5">
        <h1>Our amazing tours</h1>
        <p class="ms-5 me-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempora eveniet quas
            velit non odit ipsa dicta deleniti recusandae omnis numquam iure quo, exercitationem atque a ut
            repellendus iusto pariatur!
        </p>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="./img/1061-300x300.jpg" class="card-img-top" alt="img1">
                    <div class="bg-info card-title">
                        <h3 class="mt-2 mb-2"> EXPLORE THE SEA </h3>
                    </div>
                    <div class="card-body">
                        <P>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iusto nesciunt veniam
                            aperiam
                            ipsum officia minima, illum repellat fugit rem ea quas mollitia beatae in! Quia cum
                            laborum
                            architecto similique.
                        </P>
                    </div>
                    <div class="card-footer bg-transparent">
                        <h6 class="text-info">2 days - 1 destinations</h6><br>
                        <h5 class="">400€<span class="text-muted">/person</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="./img/15-300x300.jpg" class="card-img-top" alt="img2">
                    <div class="bg-warning card-title">
                        <h3 class="mt-2 mb-2"> HIKE IN THE FOREST</h3>
                    </div>
                    <div class="card-body">
                        <P>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iusto nesciunt veniam
                            aperiam
                            ipsum officia minima, illum repellat fugit rem ea quas mollitia beatae in! Quia cum
                            laborum
                            architecto similique.
                        </P>
                    </div>
                    <div class="card-footer bg-transparent">
                        <h6 class="text-warning">2 days - 2 destinations</h6><br>
                        <h5 class="">350€<span class="text-muted">/person</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="./img/1036-300x300.jpg" class="card-img-top" alt="img1">
                    <div class="bg-success card-title">
                        <h3 class="mt-2 mb-2"> CAMP IN THE SNOW </h3>
                    </div>
                    <div class="card-body">
                        <P>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iusto nesciunt veniam
                            aperiam
                            ipsum officia minima, illum repellat fugit rem ea quas mollitia beatae in! Quia cum
                            laborum
                            architecto similique.
                        </P>
                    </div>
                    <div class="card-footer bg-transparent">
                        <h6 class="text-success">3 days - 2 destinations</h6><br>
                        <h5 class="">375€<span class="text-muted">/person</span></h5>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
